@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Avows Technical Test</h1>
    <p>To begin View or add data please click the following link => <a href="/Student/index">START</a>.</p>
</div>
